<div class="jumbotron">

    <h1 id="title"></h1>

    <h1 id="content"></h1>

</div>



<script>

    $(function () {

        namespace.define('bundle.contact.store');

        bundle.contact.store.contactActions = {
            EDIT: 'EDIT',
        };

        var userReducer = function(state, action) {
            if (state === undefined) {
                state = {};
            }
            if (action.type === bundle.contact.store.contactActions.EDIT) {
                state = _.clone(action.data);
                container.event.trigger('bundle.contact.store.contact.update', state);
            }
            return state;
        };

        bundle.contact.store.contact = Redux.createStore(userReducer);
        bundle.contact.store.contact.update = function (contactEntity) {
            bundle.contact.store.contact.dispatch({
                type: bundle.contact.store.contactActions.EDIT,
                data: contactEntity,
            });
        };
        bundle.contact.store.contact.one = function () {
            return bundle.contact.store.contact.getState();
        };

    });

    $(function () {

        namespace.define('bundle.contact.controller');

        bundle.contact.controller.view = {

            registerEventHandlers: function () {
                container.event.registerHandler('bundle.contact.store.contact.update', function (contactEntity) {
                    $('#title').html(contactEntity.title);
                    $('#content').html(contactEntity.content);
                });
            },

            run: function (request) {
                this.registerEventHandlers();

                var contactEntity = {};
                contactEntity.title = 'title ' + request.query.id;
                contactEntity.content = 'content ' + request.query.id;
                bundle.contact.store.contact.update(contactEntity);

                var contactEntity222 = bundle.contact.store.contact.one();
                console.log('STATE:', contactEntity222);

            },

        };

    });
</script>