
<link  href="http://legalcasino.scdev.cc/assets/style/style.css" rel="stylesheet">

<h2>
    UIKit - notification
</h2>

<div class="notification-container">
    <div class="notification notification--success">
        Message has been sent
    </div>

    <div class="notification notification--comment">
        mrPredator mentioned you <a href="#">in a comment</a>

        <button class="notification-close">close</button>
    </div>

    <div class="notification notification--warning">
        Your vote is already taken
    </div>

    <div class="notification notification--danger">
        Only registered users can vote
    </div>

    <div class="notification notification--danger">
        This website collects information about the use of this site, in particular, places cookies in the browsers of visitors. <a href="#">Read more</a>

        <button class="notification-close">close</button>
    </div>

    <div class="notification notification--error">
        Users may have difficulty logging in. We're working on it.

        <button class="notification-close">close</button>
    </div>
</div>
